In [4]:
import json
import pandas as pd

# I read in the json file
with open('banijay_op1data_twitter_raw.json', 'rb') as f:
    twitter_json = json.load(f)

# I convert the json file to a pandas dataframe
df_op1_twitter = pd.json_normalize(twitter_json)

df_op1_twitter.head()

,referenced_tweets,possibly_sensitive,lang,text,edit_history_tweet_ids,author_id,created_at,id,public_metrics.retweet_count,public_metrics.reply_count,public_metrics.like_count,public_metrics.quote_count,author.id,author.public_metrics.followers_count,author.public_metrics.following_count,author.public_metrics.tweet_count,author.public_metrics.listed_count,author.name,author.username
0,"[{'type': 'replied_to', 'id': '160025955556878...",False,nl,Lees hier het gesprek terug: #Op1 \n\nhttps://...,[1600440065410453509],17022916,2022-12-07T10:40:20.000Z,1600440065410453509,0,8,0,0,17022916,337078,1432,38840,2362,Op1,op1npo
1,"[{'type': 'replied_to', 'id': '160025483213200...",False,nl,Lees hier het gesprek terug: #Op1 \n\nhttps://...,[1600440000520372225],17022916,2022-12-07T10:40:05.000Z,1600440000520372225,0,0,0,0,17022916,337078,1432,38840,2362,Op1,op1npo
2,"[{'type': 'replied_to', 'id': '160025268126773...",False,nl,@mariettehamer Lees hier het gesprek terug: #O...,[1600431542878314497],17022916,2022-12-07T10:06:29.000Z,1600431542878314497,0,1,0,0,17022916,337078,1432,38840,2362,Op1,op1npo
3,"[{'type': 'replied_to', 'id': '160025066981831...",False,nl,@fleurjongepier Lees hier het gesprek terug: #...,[1600431528479178754],17022916,2022-12-07T10:06:25.000Z,1600431528479178754,0,0,2,0,17022916,337078,1432,38840,2362,Op1,op1npo
4,"[{'type': 'replied_to', 'id': '160024856209630...",False,nl,@robdewijk Lees hier het gesprek terug: #Op1 \...,[1600426335301767169],17022916,2022-12-07T09:45:47.000Z,1600426335301767169,1,0,1,0,17022916,337078,1432,38840,2362,Op1,op1npo

In [5]:
# I turn the column into datetime format
pd.to_datetime(df_op1_twitter['created_at'])

0       2022-12-07 10:40:20+00:00
1       2022-12-07 10:40:05+00:00
2       2022-12-07 10:06:29+00:00
3       2022-12-07 10:06:25+00:00
4       2022-12-07 09:45:47+00:00
                   ...
15941   2020-01-06 21:33:21+00:00
15942   2020-01-06 21:23:26+00:00
15943   2020-01-06 21:11:53+00:00
15944   2020-01-06 19:25:00+00:00
15945   2020-01-06 17:55:01+00:00
Name: created_at, Length: 15946, dtype: datetime64[ns, UTC]

In [9]:
# I drop the rows that are not needed while creating a new variable for it
df_twitter = df_op1_twitter.dropna(subset=['referenced_tweets'])

<bound method DataFrame.info of                                        referenced_tweets  possibly_sensitive  \
0      [{'type': 'replied_to', 'id': '160025955556878...               False
1      [{'type': 'replied_to', 'id': '160025483213200...               False
2      [{'type': 'replied_to', 'id': '160025268126773...               False
3      [{'type': 'replied_to', 'id': '160025066981831...               False
4      [{'type': 'replied_to', 'id': '160024856209630...               False
...                                                  ...                 ...
15646  [{'type': 'retweeted', 'id': '1223185343589027...               False
15654  [{'type': 'replied_to', 'id': '122301099284356...               False
15668  [{'type': 'replied_to', 'id': '122289883049388...               False
15698  [{'type': 'retweeted', 'id': '1222270181159964...               False
15752  [{'type': 'retweeted', 'id': '1220110054818504...               False

      lang                                               text  \
0       nl  Lees hier het gesprek terug: #Op1 \n\nhttps://...
1       nl  Lees hier het gesprek terug: #Op1 \n\nhttps://...
2       nl  @mariettehamer Lees hier het gesprek terug: #O...
3       nl  @fleurjongepier Lees hier het gesprek terug: #...
4       nl  @robdewijk Lees hier het gesprek terug: #Op1 \...
...    ...                                                ...
15646   nl  RT @hugologtenberg: Vanavond in ⁦@op1npo⁩ onde...
15654   nl  @LeoBlokhuis Ze is gevonden! Haar naam is Odil...
15668   nl  @OMiddeldorp @DeslimstemensNL Dank Olivier! me...
15698   nl  RT @rachelfranse: terwyl u naar de reclame kee...
15752   nl  RT @rachelfranse: minister @wkoolmees leest vo...

      edit_history_tweet_ids author_id                created_at  \
0      [1600440065410453509]  17022916  2022-12-07T10:40:20.000Z
1      [1600440000520372225]  17022916  2022-12-07T10:40:05.000Z
2      [1600431542878314497]  17022916  2022-12-07T10:06:29.000Z
3      [1600431528479178754]  17022916  2022-12-07T10:06:25.000Z
4      [1600426335301767169]  17022916  2022-12-07T09:45:47.000Z
...                      ...       ...                       ...
15646  [1223210235755745280]  17022916  2020-01-31T11:43:41.000Z
15654  [1223013352793833473]  17022916  2020-01-30T22:41:20.000Z
15668  [1222899572361416706]  17022916  2020-01-30T15:09:13.000Z
15698  [1222271528097787907]  17022916  2020-01-28T21:33:35.000Z
15752  [1220110639567425537]  17022916  2020-01-22T22:26:59.000Z

                        id  public_metrics.retweet_count  \
0      1600440065410453509                             0
1      1600440000520372225                             0
2      1600431542878314497                             0
3      1600431528479178754                             0
4      1600426335301767169                             1
...                    ...                           ...
15646  1223210235755745280                             3
15654  1223013352793833473                             3
15668  1222899572361416706                             0
15698  1222271528097787907                             4
15752  1220110639567425537                             2

       public_metrics.reply_count  public_metrics.like_count  \
0                               8                          0
1                               0                          0
2                               1                          0
3                               0                          2
4                               0                          1
...                           ...                        ...
15646                           0                          0
15654                           3                         30
15668                           0                          1
15698                           0                          0
15752                           0                          0

       public_metrics.quote_count author.id  \
0                               0  17022916
1                               0  17022916
2                               0  17022916
3                               0  17022916
4                               0  17022916
...                           ...       ...
15646                           0  17022916
15654                           1  17022916
15668                           0  17022916
15698                           0  17022916
15752                           0  17022916

       author.public_metrics.followers_count  \
0                                     337078
1                                     337078
2                                     337078
3                                     337078
4                                     337078
...                                      ...
15646                                 337078
15654                                 337078
15668                                 337078
15698                                 337078
15752                                 337078

       author.public_metrics.following_count  \
0                                       1432
1                                       1432
2                                       1432
3                                       1432
4                                       1432
...                                      ...
15646                                   1432
15654                                   1432
15668                                   1432
15698                                   1432
15752                                   1432

       author.public_metrics.tweet_count  author.public_metrics.listed_count  \
0                                  38840                                2362
1                                  38840                                2362
2                                  38840                                2362
3                                  38840                                2362
4                                  38840                                2362
...                                  ...                                 ...
15646                              38840                                2362
15654                              38840                                2362
15668                              38840                                2362
15698                              38840                                2362
15752                              38840                                2362

      author.name author.username
0             Op1          op1npo
1             Op1          op1npo
2             Op1          op1npo
3             Op1          op1npo
4             Op1          op1npo
...           ...             ...
15646         Op1          op1npo
15654         Op1          op1npo
15668         Op1          op1npo
15698         Op1          op1npo
15752         Op1          op1npo

[3779 rows x 19 columns]>

In [46]:
# I create a new column with the name 'date' on which to merge the two datasets, then I turn it into a string to be able to split it
df_twitter['date'] = df_twitter['created_at']
df_twitter['date'] = df_twitter['date'].astype(str)
print(df_twitter['date'].info)

<bound method Series.info of 0        2022-12-07T10:40:20.000Z
1        2022-12-07T10:40:05.000Z
2        2022-12-07T10:06:29.000Z
3        2022-12-07T10:06:25.000Z
4        2022-12-07T09:45:47.000Z
                   ...
15646    2020-01-31T11:43:41.000Z
15654    2020-01-30T22:41:20.000Z
15668    2020-01-30T15:09:13.000Z
15698    2020-01-28T21:33:35.000Z
15752    2020-01-22T22:26:59.000Z
Name: date, Length: 3779, dtype: object>

C:\Users\Dániel\AppData\Local\Temp\ipykernel_26360\3114725000.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['date'] = df['created_at']
C:\Users\Dániel\AppData\Local\Temp\ipykernel_26360\3114725000.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['date'] = df['date'].astype(str)

In [50]:
# I split the 'date' column so that I will only have the year, month and day, as this is what the 'date' column in the content_ratings dataset has too.
# Then I turn this into a datetime object
split_date = []
split_date = df_twitter['date'].str.rsplit('T').str[0]
print(split_date.head)
df_twitter['date'] = split_date
df_twitter['date'] = pd.to_datetime(df_twitter['date'])

<bound method NDFrame.head of 0        2022-12-07
1        2022-12-07
2        2022-12-07
3        2022-12-07
4        2022-12-07
            ...
15646    2020-01-31
15654    2020-01-30
15668    2020-01-30
15698    2020-01-28
15752    2020-01-22
Name: date, Length: 3779, dtype: object>

C:\Users\Dániel\AppData\Local\Temp\ipykernel_26360\9203296.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['date'] = split_date
C:\Users\Dániel\AppData\Local\Temp\ipykernel_26360\9203296.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['date'] = pd.to_datetime(df['date'])

In [65]:
# I import the previous dataset and turn the 'date' column into a datetime object
data = pd.read_csv('banijay_op1data_content_ratings2.csv')
data['date'] = pd.to_datetime(data['date'])
print(data.info)

(661770, 25)

C:\Users\Dániel\AppData\Local\Temp\ipykernel_26360\2745486472.py:3: UserWarning: Parsing dates in DD/MM/YYYY format when dayfirst=False (the default) was specified. This may lead to inconsistently parsed dates! Specify a format to ensure consistent parsing.
  data['date'] = pd.to_datetime(data['date'])

In [68]:
# I merge the two datasets on the 'date' column
merged_data = pd.merge(data, df_twitter, on='date')
print(merged_data.info)

<bound method DataFrame.info of          Unnamed: 0       Datum      Time Program Station        Target Group  \
0              1680  2021-02-02  22:32:00     op1    npo1           50plus_jr
1              1680  2021-02-02  22:32:00     op1    npo1           50plus_jr
2              1680  2021-02-02  22:32:00     op1    npo1           50plus_jr
3              1681  2021-02-02  22:32:00     op1    npo1            20_34_jr
4              1681  2021-02-02  22:32:00     op1    npo1            20_34_jr
...             ...         ...       ...     ...     ...                 ...
3421945      661769  2022-08-31  23:06:00     op1    npo1  boodschapper_25_54
3421946      661769  2022-08-31  23:06:00     op1    npo1  boodschapper_25_54
3421947      661769  2022-08-31  23:06:00     op1    npo1  boodschapper_25_54
3421948      661769  2022-08-31  23:06:00     op1    npo1  boodschapper_25_54
3421949      661769  2022-08-31  23:06:00     op1    npo1  boodschapper_25_54

                        Broadcast Type Ratings Type                Kdh%  \
0        live/prerecorded uitzendingen   uitzenddag  10,740257000000001
1        live/prerecorded uitzendingen   uitzenddag  10,740257000000001
2        live/prerecorded uitzendingen   uitzenddag  10,740257000000001
3        live/prerecorded uitzendingen       totaal            0,912353
4        live/prerecorded uitzendingen       totaal            0,912353
...                                ...          ...                 ...
3421945  live/prerecorded uitzendingen   uitzenddag            1,717466
3421946  live/prerecorded uitzendingen   uitzenddag            1,717466
3421947  live/prerecorded uitzendingen   uitzenddag            1,717466
3421948  live/prerecorded uitzendingen   uitzenddag            1,717466
3421949  live/prerecorded uitzendingen   uitzenddag            1,717466

                     Kdh000  ... public_metrics.reply_count  \
0                 733,02252  ...                          2
1                 733,02252  ...                          0
2                 733,02252  ...                          2
3        29,843051000000006  ...                          2
4        29,843051000000006  ...                          0
...                     ...  ...                        ...
3421945           69,677602  ...                          2
3421946           69,677602  ...                          1
3421947           69,677602  ...                          1
3421948           69,677602  ...                          2
3421949           69,677602  ...                          1

        public_metrics.like_count public_metrics.quote_count author.id  \
0                               6                          0  17022916
1                               0                          0  17022916
2                               0                          0  17022916
3                               6                          0  17022916
4                               0                          0  17022916
...                           ...                        ...       ...
3421945                         2                          1  17022916
3421946                         0                          0  17022916
3421947                         0                          0  17022916
3421948                         1                          1  17022916
3421949                         0                          0  17022916

        author.public_metrics.followers_count  \
0                                      337078
1                                      337078
2                                      337078
3                                      337078
4                                      337078
...                                       ...
3421945                                337078
3421946                                337078
3421947                                337078
3421948                                337078
3421949                                337078

        author.public_metrics.following_count  \
0                                        1432
1                                        1432
2                                        1432
3                                        1432
4                                        1432
...                                       ...
3421945                                  1432
3421946                                  1432
3421947                                  1432
3421948                                  1432
3421949                                  1432

        author.public_metrics.tweet_count author.public_metrics.listed_count  \
0                                   38840                               2362
1                                   38840                               2362
2                                   38840                               2362
3                                   38840                               2362
4                                   38840                               2362
...                                   ...                                ...
3421945                             38840                               2362
3421946                             38840                               2362
3421947                             38840                               2362
3421948                             38840                               2362
3421949                             38840                               2362

        author.name author.username
0               Op1          op1npo
1               Op1          op1npo
2               Op1          op1npo
3               Op1          op1npo
4               Op1          op1npo
...             ...             ...
3421945         Op1          op1npo
3421946         Op1          op1npo
3421947         Op1          op1npo
3421948         Op1          op1npo
3421949         Op1          op1npo

[3421950 rows x 44 columns]>

In [69]:
# I check if it was successful
print(merged_data.columns)

Index(['Unnamed: 0', 'Datum', 'Time', 'Program', 'Station', 'Target Group',
       'Broadcast Type', 'Ratings Type', 'Kdh%', 'Kdh000', 'Zadl%',
       'date_time', 'date', 'hosts', 'id_x', 'length', 'start', 'end', 'title',
       'summary', 'keywords', 'date_time_start', 'date_time_end', 'fragment',
       'show_id', 'referenced_tweets', 'possibly_sensitive', 'lang', 'text',
       'edit_history_tweet_ids', 'author_id', 'created_at', 'id_y',
       'public_metrics.retweet_count', 'public_metrics.reply_count',
       'public_metrics.like_count', 'public_metrics.quote_count', 'author.id',
       'author.public_metrics.followers_count',
       'author.public_metrics.following_count',
       'author.public_metrics.tweet_count',
       'author.public_metrics.listed_count', 'author.name', 'author.username'],
      dtype='object')

In [61]:
# I export the the new dataset
merged_data.to_csv('banijay_op1data_content_ratings_twitter.csv')