In [86]:
import pandas as pd

# I import the data
ratings_data = pd.read_csv('banijay_op1data_ratings_processed.csv', compression='zip')
content_data = pd.read_csv('banijay_op1data_content_processed.csv', compression='zip')

In [89]:
# I drop the unnamed columns from the content data
content_data.drop('Unnamed: 0', inplace=True, axis=1)

In [90]:
# I drop the unnamed columns from the ratings data
ratings_data.drop('Unnamed: 0', inplace=True, axis=1)

In [91]:
# I turn the time data into datetime format
content_data['date_time_start'] = pd.to_datetime(content_data['date_time_start'])
content_data['date_time_end'] = pd.to_datetime(content_data['date_time_end'])
ratings_data['date_time'] = pd.to_datetime(ratings_data['date_time'])

# I sort the data by time
content_data.sort_values(by="date_time_start", inplace=True)
ratings_data.sort_values(by="date_time", inplace=True)

In [92]:
# I check if there are any ratings at times that are not are in the content data and put them in the drop_list variable
drop_list = []
i = 0
for value in ratings_data['date_time']:
    if value < content_data['date_time_start'][0] or value > content_data['date_time_end'][2983]:
        drop_list.append(i)
    i+=1

In [93]:
# I remove the times from the ratings data that were collected in the drop_list variable
ratings_data.drop(index= drop_list, inplace=True)

In [94]:
# I merge the two datasets
merged = pd.merge_asof(ratings_data,content_data,  left_on="date_time",right_on="date_time_start", direction="backward")

In [95]:
# I print out the end time to check if they are correct
print(content_data['date_time_end'])

496    2020-01-06 22:38:09
497    2020-01-06 22:48:11
498    2020-01-06 23:07:23
596    2020-01-07 22:26:26
597    2020-01-07 22:37:31
               ...
1558   2022-09-16 22:35:04
1559   2022-09-16 22:47:57
1560   2022-09-16 22:54:30
1561   2022-09-16 23:07:04
1562   2022-09-16 23:20:16
Name: date_time_end, Length: 2984, dtype: datetime64[ns]

In [96]:
# I print out the columns to see if they are correct
print(merged[['date_time','date_time_start', 'date_time_end']])

                 date_time     date_time_start       date_time_end
0      2021-02-01 22:21:00 2021-02-01 22:20:11 2021-02-01 22:41:32
1      2021-02-01 22:21:00 2021-02-01 22:20:11 2021-02-01 22:41:32
2      2021-02-01 22:21:00 2021-02-01 22:20:11 2021-02-01 22:41:32
3      2021-02-01 22:21:00 2021-02-01 22:20:11 2021-02-01 22:41:32
4      2021-02-01 22:21:00 2021-02-01 22:20:11 2021-02-01 22:41:32
...                    ...                 ...                 ...
661765 2022-08-31 23:06:00 2022-08-31 22:52:52 2022-08-31 23:06:41
661766 2022-08-31 23:06:00 2022-08-31 22:52:52 2022-08-31 23:06:41
661767 2022-08-31 23:06:00 2022-08-31 22:52:52 2022-08-31 23:06:41
661768 2022-08-31 23:06:00 2022-08-31 22:52:52 2022-08-31 23:06:41
661769 2022-08-31 23:06:00 2022-08-31 22:52:52 2022-08-31 23:06:41

[661770 rows x 3 columns]

In [97]:
# I export it
merged.to_csv('banijay_op1data_content_ratings2.csv')